//================================================
// MEDIA QUERY
//================================================


@mixin mq ($break) {
    @if $break == "small" {
        @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == "medium" {
        @media (min-width: $brkpoint-md + 1) {
            @content;
        }
    }
    @else if $break == "large" {
        @media (min-width: $brkpoint-lg) {
            @content;
        }
    }
    @else {
        @error "No value could be retrieved for '#{$break}'.";
    }
}

//================================================
// BUTTON SECTION
//================================================

@mixin btn-specs {
  line-height: $line-height-button;
  color: $button-font-color;
  border-radius: $button-radius;
  text-transform: uppercase;
}

//================================================
// GRID COL SECTION
//================================================

@mixin grid-brder-height-margin {
  margin-bottom: 5px;
  line-height: $line-height-button;
  border-radius: $button-radius;
}

//================================================
// FLEXBOX CONTAINER MIXIN
//================================================

@mixin flexy(
$disp: flex,
$dir: null,
$wrap: null,
$just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}
