// LOGIN BUTTON

.btn--default {
  @include btn-specs;
  margin-top: 20px;
  background-color: $login-button;
}


// 6 BUTTON SECTION

.grid__col--12 {
  display: flex;
  flex-direction: column;
}

.btn--success {
  @include btn-specs;
  margin: 10px 0;
  background-color: forestgreen;
}

.btn--error {
@include btn-specs;
  background-color: rgb(255, 31, 0);
}

.btn--warning {
  @include btn-specs;
  margin: 10px 0;
  background-color: orange;
}
.btn--info {
@include btn-specs;
  background-color: purple;
}
