// LOGIN BUTTON

.btn--default {
  margin-top: 20px;
  background-color: $login-button;
  line-height: $line-height-button;
  border-radius: $button-radius;
  color: $button-font-color;
}


// 6 BUTTON SECTION

.grid__col--12 {
  display: flex;
  flex-direction: column;
}

.btn--default {
  text-transform: uppercase;
}

.btn--success {
  margin: 10px 0;
  line-height: $line-height-button;
  color: $button-font-color;
  border-radius: $button-radius;
  background-color: forestgreen;
  text-transform: uppercase;
}

.btn--error {
  line-height: $line-height-button;
  color: $button-font-color;
  border-radius: $button-radius;
  background-color: rgb(255, 31, 0);
  text-transform: uppercase;
}

.btn--warning {
  margin: 10px 0;
  line-height: $line-height-button;
  color: $button-font-color;
  border-radius: $button-radius;
  background-color: orange;
  text-transform: uppercase;
}
.btn--info {
  line-height: $line-height-button;
  color: $button-font-color;
  border-radius: $button-radius;
  background-color: purple;
  text-transform: uppercase;
}
