//================================================
// IMG IN NAV BAR MOBILE VIEW
//================================================

.img--logo {
display: block;
margin: 0 auto;
width: 150px;
}

//================================================
// IMG IN FORM AREA
//================================================

.img--avatar {
  display: block;
  align-self: center;
  margin: 0 auto;
}


.img--frame {
  width: 100%;
  display: block;
  border: 1px solid $img-border-light;
  padding: 10px;
  margin-bottom: 20px;
}
