//MEDIA QUERY
.grid__row,
.nav {
  @include mq(medium) {
    display: flex;
}
}

// Navigation Bar

.grid__row,
.nav {
  display: flex;
  flex-direction: column;
}


.grid__row {
  padding-top: 2em;
}

.nav {
  margin-top: 3.0em;
  font-size: 1.125em;
  line-height: 50px;
}

.nav a {
  display: block;
  color: black;
  text-align: center;
}

.nav li:first-child a {
  color: white;
}

li:first-child {
  background: rgb(7, 249, 234);
  border-radius: 5px;
  line-height: 50px;
}

// H4 HEADING

.headline--secondary {
  color: $secondary-hd-light;
  font-weight: normal;
  font-size: 1.25em;
}

// HEADLINE PRIMARY

.headline--primary {
  color: $headline-primary;
  font-weight: bold;
  line-height: 27px;
  font-size: 2.0em;
}

// PARAGRAPH link

.link {
  color: $link-text;
  font-weight: bolder;
}

// BLOCKQUOTE

.blockquote {
  width: 80%;
  color: $block-quote-font;
  border-left: 8px solid $block-quote-border;
  border-radius: $button-radius;
  padding-left: 20px;
  font-size: 1.3em;
  line-height: 22px;
  font-style: italic;
  margin-bottom: 60px;
}
