//================================================
// NAVIGATION BAR
//================================================

.grid__row,
.nav {
  @include flexy($dir: column);
}

.grid__row {
  padding-top: 2em;
}

//================================================
// NESTED ELEMENT
//================================================

.nav {
  margin-top: 3.0em;
  font-size: 1.125em;
  line-height: 50px;
  a {
   display: block;
   color: black;
   text-align: center;
 }
 li:first-child {
   background: rgb(7, 249, 234);
   border-radius: 5px;

 }
}

.nav li:first-child a {
  color: white;
}


//================================================
// H4 HEADING
//================================================

.headline--secondary {
  color: $secondary-hd-light;
  font-weight: normal;
  font-size: 1.25em;
}

//================================================
// HEADLINE PRIMARY
//================================================

.headline--primary {
  color: $headline-primary;
  font-weight: bold;
  line-height: 27px;
  font-size: 2.0em;
}

//================================================
// PARAGRAPH LINK
//================================================

.link {
  color: $link-text;
  font-weight: bolder;
}

//================================================
// BLOCKQUOTE
//================================================
.blockquote {
  width: 80%;
  color: $block-quote-font;
  border-left: 8px solid $block-quote-border;
  border-radius: $button-radius;
  padding-left: 20px;
  font-size: 1.3em;
  line-height: 22px;
  font-style: italic;
  margin-bottom: 60px;
}

//================================================
// MEDIA QUERY MIXIN
//================================================
@include mq(medium) {
.grid__row,
.nav  {
@include flexy($dir: row);
  max-width: 1400px;
}
.nav {
  margin-top: 15px;
  li {
   padding-right: .65em;
   padding-left: .65em;
 }
}

//IMG FOR NAV BAR I DONT KNOW IF IT WAS A GLITCH OR NOT BUT KEPT -
//POPPING UP IN THE CENTER AND SOMETIMES IN TO THE RIGHT.

.img--logo {
  margin-left: 0;
}

.grid__col--9 {
  margin-left: auto;
}

p {
  .grid__col--12 & {
font-size: 1.5em;
margin:auto;
padding: auto;
}
}

p {
  font-size: 1.30em;
}
.blockquote {
  font-size: 1.65em;
}

.img--avatar {
  margin-top: 30px;
}

.form__input {
  width: 95%;
  margin-right: 20px;
}
//================================================
// FLEXBOX SETUP FOR THE BUTTONS
//================================================

.grid__col--12 {
  @include flexy($dir: row, $just: space-between);
  max-width: 1400px;
  width: 100%;
}

//================================================
// THE 5 FIVE BUTTONS LAYOUT
//================================================

.grid__col--12 > button {
@include five-button;
border-radius: $button-radius;
}


//================================================
// GRID COL SECTION
//================================================

.grid__col--12.theme__colors {
padding-left: 46%;
}

.grid__col--3 {
  margin-right: .65em;
  width: 100%;
}
.grid__col--4 {
  margin-right:.65em;
  margin-left: auto;
  margin-top: 20px;
  width: 40%;
}

.grid__col--5 {
  width: 40%;
  margin-right: .65em;
}

.grid__col--6 {
  margin-right: .65em;
  margin-top: 10px;
  width: 100%;
}

.grid__col--7 {
  width: 60%;
  margin:auto;
}

.grid__col--7.theme__colors.centered {
  margin-right: auto;
  margin-left: auto;
}

.grid__col--8 {
  width: 60%;
  margin-right: .65em;
  padding: auto;
  margin-top: auto;
  margin-bottom: auto;
}
}
